# Dependencies
node_modules
.pnpm-store

# Build outputs
build
dist
*.tsbuildinfo

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Temporary files
tmp
*.log

# Editors
.idea
.vscode
.fleet

# OS files
.DS_Store

# direnv
.direnv
